<h1>All bookings</h1>
<table class="table table-hover table-striped">
  <%= render :partial=>"header" %>

  <% @bookings.each do |booking| %>
    <%= render :partial=>"show", locals: {booking: booking}%>
  <% end %>
</table>
