<h1>New service booking</h1>
<% if @service.errors.any? %>
  <ol>
  <% @serice.errors.full_messages.each do |msg| %>
    <li class="bg-danger"><%= msg %></li>
  <% end %>
  </ol>
<% end %>
<%= render :partial=>"bookings/form" %>
