<h1>All users</h1>
<!-- heading -->
<table class="table table-striped">
  <%= render :partial=>"header" %>
</table>

<% @users.each do |user| %>
  <%= render :partial=>"show", :locals=>{user: user} %>
<% end %>
