<div class="row">
  <div class="col-md-12">
    <h1>Welcome to "Home Away from Home"</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <img src="http://res.cloudinary.com/dzhoxlq6z/image/upload/v1485417998/New_carousel/home.png" alt="Home image" class="home-image" >
  </div>
</div>
