<div class="row">
  <div class="col-md-12">
    <h1>Welcome to "Home Away from Home"</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Trump assassinated.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam in
      laborum quo quibusdam laudantium mollitia veniam harum voluptatum!
      Numquam corporis reprehenderit esse, aperiam pariatur, ut perspiciatis
      temporibus repellendus id rem.</p>
  </div>
  <div class="col-md-4">
    <h2>aljkgfsf asjkfhdsd</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora explicabo
      facere odio numquam magni rem laboriosam repellat, sapiente distinctio porro,
      recusandae laudantium dolorum harum voluptatum fugit magnam quisquam perferendis
      debitis.</p>

  </div>
  <div class="col-md-4">
    <h2>kjfklsdjfiosdj</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam debitis
      exercitationem tempora excepturi! Ducimus quia reprehenderit perspiciatis,
      consectetur nulla sint debitis veniam possimus fuga iste quo atque sed
      voluptatibus eaque.</p>

  </div>
</div>
