<div class="row">
  <div class="col-md-12">
    <h1>Welcome to "Home Away from Home"</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <img src="/assets/home.png" alt="Home image" class="home-image" >
  </div>
</div>
<!-- <p align="center">
    <canvas id = "canvas"></canvas>
</p> -->
<!-- <script src="/assets/processing.min.js"></script> -->
<!-- <script type="application/processing" data-processing-target="canvas" src="/assets/home_animation.js"></script> -->
