<div class="row">
  <div class="col-md-12">
    <h1>Welcome to "Home Away from Home"</h1>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <h2>Browse</h2>
    <h2>Reserve</h2>
  </div>
  <div class="col-md-8">
    <!-- <img src="http://res.cloudinary.com/dzhoxlq6z/image/upload/v1485417998/New_carousel/home.png"
            alt="Home image" class="img-responsive"> -->
    <p align="center">
      <canvas data-processing-sources="/assets/home_animation.pde"></canvas>
    </p>
  </div>
</div>
