<tr>
  <div class="row">
  <th class="col-md-1">Reservation-id</th>
  <th class="col-md-1">User First name</th>
  <th class="col-md-1">Last name</th>
  <th class="col-md-1">Email</th>
  <th class="col-md-1">Contact</th>
  <th class="col-md-1">Property name</th>
  <th class="col-md-1">Property address</th>
  <th class="col-md-1">Property type</th>
  <th class="col-md-1">Lease start date</th>
  <th class="col-md-1">Lease end date</th>
  <th class="col-md-1">Number of people</th>
  <% if @current_user.present? and @current_user.admin? %>
          <th class="col-md-1">Edit/Delete</th>
      <% end %>
  </div>
</tr>
