<h1>All Reservations</h1>
<table class="table table-striped table-condensed table-bordered table-hover">
  <%= render :partial=>"header" %>

  <% @reservations.each do |r| %>
    <%= render :partial=>"show_reservation", locals: {reservation: r}%>
  <% end %>
</table>
